h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
}

h2 {
  margin: 0px;
  font-weight: 4500;
  margin-bottom: 20px;
}

table {
  text-align: left;
  width: 800px;
  height: 75px;
  margin: 40px auto;
  border-radius: 5px;
  background-color: whitesmoke;
}

div {
  display: inline-block;
  margin-right: 10px;
}
